# Temp Files
.DS_Store
.ipynb_checkpoints
Untitled.ipynb

# Ignore all data files
*.csv
*.db
*.db-journal
*.txt
*.xml
*.sql

# Metabase folders
hsperfdata_metabase
hsperfdata_root

# Dask stuff
dask-worker-space/
